<h1 class="mb-3">Instructions</h1>
<table id="instructionsTable"  class="table mb-3 instructionsTable" style="width: 90%;">
    <thead>

    </thead>
    
        <tbody>
            <ol id="instructionsList">

            </ol>
        </tbody>
    <tfoot>
        <tr>
            <td class="text-center">
                <button type="button" id="newInstructionStepBtn"
                onclick="appendNewInstruction()" class="btn btn-success">Ajouter une étape</button>
            </td>
        </tr>
    </tfoot>
</table>